<div class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				
			</div>
			<div class="ibox-content">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
						<div class="form-group">		
							<label>Month</label>		 
					        <div class="input-group date month" >
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input type="text" class="form-control" ([ngModel])="date"/>
							</div>
				        	<label class="text-danger" id="err_month"></label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div>
			<div>
			  <canvas baseChart
					  [datasets]="barChartData"
					  [labels]="barChartLabels"
					  [options]="barChartOptions"
					  [legend]="barChartLegend"
					  [chartType]="barChartType"
					  (chartHover)="chartHovered($event)"
					  (chartClick)="chartClicked($event)"></canvas>
			</div>
			<button (click)="randomize()">Update</button>
		  </div>
	</div>
</div>